<div class="fit-width">
  <p>
    <button type="button" class="btn btn-outline-primary btn-font" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseCard">
      New agent
    </button>
  </p>
  <div id="collapseCard" [ngbCollapse]="isCollapsed">
    <div class="card col-md-8">
      <div class="card-body">
        <form [formGroup]="newAgentForm" (ngSubmit)="onSubmit(newAgentForm.value)">
          <div class="form-font input-font">
            <ngb-alert *ngIf="alert.open" (close)="alert.open=false">{{ alert.error }}</ngb-alert>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">
                  Name
                </label>
                <input class="form-control" id="name" type="text" formControlName="name">
              </div>
              <div class="form-group col-md-6">
                <label for="city">
                  City
                </label>
                <input class="form-control" id="city" type="text" formControlName="city">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="birthday">
                  Birthday
                </label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" ngbDatepicker #d1="ngbDatepicker" id="birthday" formControlName="birthday">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="hire_date">
                  Hire Date
                </label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" ngbDatepicker #d2="ngbDatepicker" id="hire_date" formControlName="hire_date">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d2.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-secondary btn-font row" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>

  <div class="scroll-table col-md-12">
    <table class="table table-striped table-font">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Hire Date</th>
          <th scope="col">Birthday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agents">
          <td>{{ agent.name }}</td>
          <td>{{ agent.city }}</td>
          <td>{{ agent.hire_date }}</td>
          <td>{{ agent.birthday }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>