.fit-width {
    width: inherit;
}

.table-font thead tr th,
.table-font tbody tr td,
.btn-font,
.form-font div label,
.input-font div input {
    font-size: small;
}

.scroll-table {
    overflow-y: auto;
    max-height: 50vh;
    width: inherit;
}