.fit-width {
    width: inherit;
}

.table-font thead tr th,
.table-font tbody tr td,
.btn-font,
.form-font div label,
.input-font div input,
.option-font,
.option-font option {
    font-size: small;
}

.scroll-table {
    overflow-y: auto;
    max-height: 50vh;
    width: inherit;
}

.btn-margin {
    margin-left: 5px;
    margin-bottom: 5px;
}